
body {
    margin: 0 10rem;
}

.fa {
    padding: 20px;
    font-size: 40px !important;
    text-align: center;
    margin: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: #0F529B!important;
}

.fa:hover {
    opacity: 0.7!important;
    color: white!important;

}

.text-primary {
    color: white!important;
}

.bg-dark {
    color: rgb(54, 48, 48)!important;
}

.text-danger {
    color: #740F53!important;
}

.text-info {
    color: #8cd98c!important;
}

.btn {
    border-radius: 1000px;
    color: #8cd98c;
    background: #0F529B!important;
    border: none;
    padding: 10px 25px;
    margin-right: 20px;
}

.btn:hover {
    opacity: 0.7;
}

.aboutme {
    margin-right: 5rem;
}

a:hover {
    color: #8cd98c!important;
}

p a{
    color: #740F53!important;
    text-decoration: none;
}

.about {
    margin-right: 3rem;
}

.resume {
    color: #8cd98c!important;
    text-decoration: none;
    font-size: 2rem;
    font-style: italic;
}