
body {
    margin: 0 10rem!important;
}

.fa {
    padding: 20px;
    font-size: 40px !important;
    text-align: center;
    margin: 10px;
    border-radius: 50%;
    text-decoration: none;
    color: #0F529B!important;
}

.fa:hover {
    opacity: 0.7!important;
    color: white!important;

}

.text-primary {
    color: rgb(231, 229, 229)!important;
}

.bg-dark {
    --bs-bg-opacity: .9;
    background-color: #181818!important;
}

.text-danger {
    color: #740F53!important;
}

.text-info {
    color: #8cd98c!important;
}

.btn {
    border-radius: 1000px;
    color: #8cd98c!important;
    background: #0F529B!important;
    border: none;
    padding: 10px 25px;
    margin-right: 20px;
}

.btn:hover {
    opacity: 0.7;
}

.aboutme {
    margin-right: 5rem;
}

a:hover {
    color: #8cd98c!important;
}

p a{
    color: #740F53!important;
    text-decoration: none;
}

.about {
    margin-right: 3rem;
}

.resume {
    color: #8cd98c!important;
    text-decoration: none;
    font-size: 2rem;
    font-style: italic;
}

img {
    opacity: 80%;
}


@media only screen 
and (min-device-width : 668px) 
and (max-device-width : 991.98px)  { 

  body {
    margin: 1rem 3rem!important;
  }
  .homeimg {
    width: 100%;
    padding-top: 4rem;
  }
  .navbar {
    margin-left: 10px;
  }
  .homepage {
    text-align: center;
  }
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  body {
    margin: 0!important;
  }
  .homeimg {
    width: 100%;
    padding-top: 4rem;
  }
  .navbar {
    margin-left: 10px;
  }
  .homepage {
    text-align: center;

  }
 };
